body {
    background-color: #F8F6F2 !important  ;
    
}

#main-section{
    background-color: white;
    padding: 2rem;
}
.main-info{
    font-weight:600;
    text-align: center;
    font-size: 1.25rem;
}


#your-app{
    margin-top: 1rem;
    background-color: white;
    padding: 4rem 0;
}

.form-check-input{
   font-size: 1.75rem;
}



.overlay {
    position: relative;
  }
  
  .overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F6F2;
    opacity: .7;
    pointer-events: none;
  }
  


  /* CSS for customizing the scrollbar */
.card::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  .card::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }
  
  .card::-webkit-scrollbar-thumb {
    background-color: #ddf8fc; /* Color of the scrollbar thumb */
    border-radius: 1px; /* Border radius of the scrollbar thumb */
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background-color: #ddf8fc; /* Color of the scrollbar thumb on hover */
  }
  
